@import "tailwindcss";

@theme {
  --color-primary-50: #FEF2F2;
  --color-primary-100: #FEE2E2;
  --color-primary-200: #FECACA;
  --color-primary-500: #EF4444;
  --color-primary-600: #DC2626;
  --color-primary-700: #B91C1C;
  --color-primary-900: #7F1D1D;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background-color: #F9FAFB;
  color: #1F2937;
}
